@{
    ViewBag.Title = "Dashboard Admin";
}

<h2>Dashboard Admin</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Total produse</div>
            <div class="panel-body">@ViewBag.TotalProducts</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Total utilizatori</div>
            <div class="panel-body">@ViewBag.TotalUsers</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Total vânzări</div>
            <div class="panel-body">@ViewBag.TotalSales</div>
        </div>
    </div>
</div>
<ul class="list-inline">
    <li>@Html.ActionLink("Gestionare produse", "Products", "Admin", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Gestionare utilizatori", "Users", "Admin", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Rapoarte vânzări", "Reports", "Admin", null, new { @class = "btn btn-default" })</li>
</ul>

<!-- Added Reports Section -->
<div class="row mt-5">
    <div class="col-md-12">
        <h3>Rapoarte detaliate</h3>
        <p>Vizualizați rapoarte detaliate despre vânzări și activitatea utilizatorilor.</p>
        <a href="@Url.Action("Reports", "Admin")" class="btn btn-warning">Vizualizați rapoartele</a>
    </div>
</div>